<body>
    <div class="navbar">
        <img style="width: 150px; height: 90px;justify-content: center; " src="./assets/images/logo.png" alt="Logo">

        <h2 style="margin:30px; margin-left: 480px; ">Welcome Admin</h2>

        <button class="regid" (click)="show1()" class="btn btn-info"
            style="margin:20px; margin-left: 480px; height: 50px; width: 120px;font-size: 20px;  ">Logout</button>

    </div>
    <div style="margin-left: 460px;display: flex;">

        <div> <button type="button" class="btn btn-info" style=" margin: 10px;border-radius:15px;font-size:20px;"
                (click)="show3()">
                Back</button></div>
        <div style=" margin-left: 400px;"> <button type="button" class="btn btn-info" style=" margin: 10px;border-radius:15px;font-size:20px;"
                (click)="show2()">
                Add Products </button></div>
    </div>
    <div class="container-fluid">
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Drug</th>
                    <th>Manufacturer</th>
                    <th>Manufacture-Date</th>
                    <th>Use-Befor</th>
                    <th>M.R.P</th>
                    <th>Discount</th>
                     <th>Category ID</th>
                    <th>Update/Delete</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.name}}</td>
                    <td><img src={{product.image}} alt="Product Photo" style="width: 80px;height:50px"></td>
                    <td>{{product.drug}}</td>
                    <td>{{product.mfg}}</td>
                    <td>{{product.mfgdate}}</td>
                    <td>{{product.usebefore}}</td>
                    <td>{{product.mrp}}</td>
                    <td>{{product.discount}}%</td>
                   <td>{{product.catId}}</td>
                    <td style="text-align:center;">
                        <button type="button" class="btn btn-info" (click)="update(product.id)"> Update </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-info" (click)="delete(product.id)"> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>