body{
    margin: 0px;
    background-image: url("https://img.freepik.com/free-vector/winter-background-with-pastel-color-brushes-leaves_220290-42.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100vw;
    position: relative;
   
}
.dear h1{
    margin: 10px;
    padding: 10px;
    font-size: 85px;
    font-family: 'Sacramento';   
    justify-content: space-evenly;
    text-align: center;
}
.dear p{
    margin: 10px;
    padding: 10px;
    font-size: 55px;
    font-family: 'Sacramento';   
    justify-content: space-evenly;
    text-align: center;
}
.dear{
    border-radius: 35px;
    text-align: center; 
}
button{
    margin: 25px;
}